<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>油卡充值</title>
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/animate.min.css">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/css/date_styles.css">

    <style>
        .qq_ser{position: fixed;top: 100px;right: 90px}
        .fa-exclamation{color: #f00;display: none}

    </style>
</head>
<body>
    <div class="top_login">
        <p>
        <span><a href="">登录</a> </span>/
        <span><a href="">注册</a> </span>
        <span class="line_col">|</span>
        <span><a href="">使用说明</a> </span>
        </p>
    </div>
    <div class="body_layout">
        <header>
            <a href="">
            <img src="__STATIC__/images/logo.png" alt="">
            </a>
        </header>
    <div class="flex-box flex-2">
        <div class="oMenu">
            <span>功能选择</span>
            <ul class="first_menu">
                <li><a href="recharge">兑入积分</a></li>
                    <li>
                    <a href="javascript:void(0)" style="width: 100%" class="angle_down">
                    商品充值
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a> 
                    <ul  class="second_menu">
                        <li><a href="oil_recharge"><img src="__STATIC__/images/oil.png" alt="">油&nbsp;&nbsp;卡</a></li>
                        <li><a href="tel_recharge"><img src="__STATIC__/images/phone.png" alt="">话&nbsp;&nbsp;费</a></li>
                    </ul>
                </li>
                <li><a href="userCenter.html">个人中心</a></li>

            </ul>
        </div>
        <div class="body_content">
            <p class="menu_son"></p>
            <div class="jifen_title">
                <div class="con_title titleActive">
                    <span>油卡充值</span>
                </div>
                <div class="con_title">
                    <span>充值记录</span>
                </div>
            </div>
            <div class="oil_con">
                <div >
                    <p>账户余额：<span>{$balance}分</span></p>
                    <p style="margin-left: -12px">充值油卡号：<input type="text" name="cardnum" onchange="nube($(this))"><i class="fa fa-exclamation"></i></p>
                    <p class="flex-box flex-col-c jin_e">充值金额：
                        <label class="flex-box flex-col-c"><input type="radio" value="100" name="jine" checked><span>100元</span></label>   
                        <label class="flex-box flex-col-c"><input type="radio" value="200" name="jine"><span>200元</span></label>   
                        <label class="flex-box flex-col-c"><input type="radio" value="500" name="jine"><span>500元</span></label>   

                    </p>
                    <p class="pa_left">
                        <button type="button" class="sure">确认充值</button>
                        <button type="button">取消</button>
                    </p>
                </div>   
                <div class="hide">
                    <div>起止日期：</div>
                    <div>
                        <div class="iDate date">
                            <input type="text" name="start_time">
                            <button type="button" class="addOn"></button>
                        </div>
                        <div class="iDate date">
                            <input type="text" name="end_time">
                            <button type="button" class="addOn"></button>
                        </div>
                    </div>
                    <div class="form_num">
                        充值号码：<br/><input type="text" name="telnumber" onchange="tels($(this))" class="formCtrl" placeholder="请输入电话号码">
                    </div>
                    <button type="button" class="real_pay" style="margin-top:30px;padding:7px 20px;background: skyblue; color: #FFF">查询</button>
                    <p class="borderTop"></p>

                    <div class="serach_data">
                        -- 暂无数据 -- 
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
    <div class="text-center">
        <span>便便平台中心版权所有</span>
    </div>
    <div class="qq_ser">
        <img src="__STATIC__/images/qq_service.png" usemap="#MM" alt="客服">
        <map id="MM" name="MM">
            <area shape="rect" coords="0,20,100,115" href="javascript:void(0);"  alt="客服">
            <area shape="rect" coords="80,0,100,20" href="javascript:void(0);" class="close" alt="关闭">
        </map>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/js/moment.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.js"></script>
<script src="__STATIC__/js/common.js"></script>
<script>
$(function(){
     $(".sure").click(function(){
        var cardNum = $("input[name='cardnum']").val();
        if(cardNum != ""){
            $("input[name='cardnum']").siblings(".fa-exclamation").hide();
            $.ajax({
                url:"",
                type:"POST",
                data:{},
                beforeSend:function(){
                    layer.msg("正在充值...请稍候")
                },
                success:function(res){

                }
            })
        }else{
            $("input[name='cardnum']").siblings(".fa-exclamation").show();
        }
    })
})


// <!-- 起止时间 -->
if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
    // 关闭客服

    $(".close").click(function(){
        $(".qq_ser").hide();
    })

    // <!-- 正整数验证 -->
var  num = /^[1-9]\d*$/;
function nube(obj){
    var number = obj.val();
    if(!num.test(number)){
        obj.val("");
        obj.siblings(".fa-exclamation").show();
        return false;
       
    }else{
        obj.siblings(".fa-exclamation").hide();
    }
}
    // 手机号码
    // var mobile = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
    // function tels(obj){
    //     var tel = obj.val();
    //     if(!mobile.test(tel)){
    //         alert("手机号输入有误");
    //         obj.val("");
    //         return false;
    //     }
    // }
</script>
</html>