<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>话费充值</title>
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/animate.min.css">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/css/date_styles.css">

    <style>
        .qq_ser{position: fixed;top: 100px;right: 90px}
        .fa-exclamation{color: #f00;display: none}

    </style>
</head>
<body>
    <div class="top_login">
        <p>
        <span><a href="">登录</a> </span>/
        <span><a href="">注册</a> </span>
        <span class="line_col">|</span>
        <span><a href="">使用说明</a> </span>
        </p>
    </div>
    <div class="body_layout">
        <header>
            <a href="">
            <img src="__STATIC__/images/logo.png" alt="">
            </a>
        </header>
    <div class="flex-box flex-2">
        <div class="oMenu">
            <span>功能选择</span>
            <ul class="first_menu">
                <li><a href="recharge">兑入积分</a></li>
                <li>
                    <a href="javascript:void(0)" style="width: 100%" class="angle_down">
                         商品充值
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a> 
                    <ul  class="second_menu">
                        <li><a href="oil_recharge"><img src="__STATIC__/images/oil.png" alt="">油&nbsp;&nbsp;卡</a></li>
                        <li><a href="tel_recharge"><img src="__STATIC__/images/phone.png" alt="">话&nbsp;&nbsp;费</a></li>
                    </ul>
                </li>
                <li><a href="user_center">个人中心</a></li>

            </ul>
        </div>
        <div class="body_content">
            <p class="menu_son"></p>
            <div class="jifen_title">
                <div class="con_title titleActive">
                    <span>账号管理</span>
                </div>
                <div class="con_title">
                    <span>月度记录</span>
                </div>
                <div class="con_title">
                    <span>新产品预告</span>
                </div>
            </div>
            <div class="oil_con">
                <div >
                    <p>个人账号：<input type="text" name="Number" value="122126814798" style="position: absolute;left: 150px;"></p>
                    <p>有效期:<span style="position: absolute;left: 150px;">2019-12-31</span></p>
                    <p>
                        <span class="ZH_set">分帐户设置</span>
                    </p>
                    <p class="pa_left" style="margin-top: 100px">
                        <button type="button">退出</button>
                        <button type="button">账户注销</button>
                    </p>
                </div>   
                <div class="hide">
                    <div>起止日期：</div>
                    <div>
                        <div class="iDate date">
                            <input type="text" name="start_time">
                            <button type="button" class="addOn"></button>
                        </div>
                        <div class="iDate date">
                            <input type="text" name="end_time">
                            <button type="button" class="addOn"></button>
                        </div>
                    </div>
                    <div class="form_num">
                        充值号码：<br/><input type="text" name="telnumber" onchange="tels($(this))" class="formCtrl" placeholder="请输入电话号码">
                    </div>
                    <button type="button" class="real_pay">查询</button>
                    <p class="borderTop"></p>

                    <div class="serach_data">
                        -- 暂无数据 -- 
                    </div>
                </div> 
                <div class="hide">
                    暂未开放
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="text-center">
        <span>便便平台中心版权所有</span>
    </div>
    <div class="qq_ser">
        <img src="__STATIC__/images/qq_service.png" usemap="#MM" alt="客服">
        <map id="MM" name="MM">
            <area shape="rect" coords="0,20,100,115" href="javascript:void(0);"  alt="客服">
            <area shape="rect" coords="80,0,100,20" href="javascript:void(0);" class="close" alt="关闭">
        </map>
    </div>
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/js/moment.js"></script>
<script src="__STATIC__/js/bootstrap-datetimepicker.js"></script>

<script>
$(function(){
    // 菜单
    $(".angle_down").click(function(){
        $(".second_menu").slideToggle();
    });
    // 选项卡
        $(".jifen_title>.con_title").click(function(){
            $(this).addClass("titleActive").siblings().removeClass("titleActive");
            var index = $(this).index();
            $(".oil_con>div").eq(index).removeClass("hide").siblings().addClass("hide");
        })

    });
// <!-- 起止时间 -->
    if($(".iDate.date").length>0){
        $(".iDate.date").datetimepicker({
            locale:"zh-cn",
            format:"YYYY-MM-DD",
            dayViewHeaderFormat:"YYYY年 MMMM"
        });
    }
    // 关闭客服

    $(".close").click(function(){
        $(".qq_ser").hide();
    })

    // 分账户设置
    $(".ZH_set").click(function(){
        var info = $("input[name='Number']").val();
        // $.ajax({
        //     url:"",
        //     type:"POST",
        //     data:{},
        //     success:function(res){
        //         layer.alert("此"+info+"账号：\n"+"油卡积分余额为：800分\n"+"话费积分余额为：1000分")
        //     }
        // })
        layer.alert("此"+info+"账号：<br/>"+"油卡积分余额为：800分<br/>"+"话费积分余额为：1000分",{title:"账号余额"})
    })
    // 手机号码
    // var mobile = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
    // function tels(obj){
    //     var tel = obj.val();
    //     if(!mobile.test(tel)){
    //         alert("手机号输入有误");
    //         obj.val("");
    //         return false;
    //     }
    // }
</script>
</html>