<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传则内部管控后台</title>

    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
</head>
<body>
    <!-- 顶部 -->

    <div class="logo">
        <p>
            <a href="">
            <img src="__STATIC__/img/logo.png" alt="">
            </a>
        </p>
    </div>

    <!-- 菜单和主体 -->
    <div class="content">
        <!-- 菜单 -->
        <div class="omenu">
            <ul>
                <li><a href="">功能选择</a></li>
                <li><a href="" >卡组管理</a></li>
                <li><a href="#" onclick="none()">财务管理</a></li>
                <li><a href="#" onclick="none()">客服管理</a></li>
            </ul>
        </div>
        <!-- 主体 -->
        <div class="obody">
            <div class="navbar_con">
                <span class="active">卡号生成</span>
                <span>生成记录</span>
                <span>添加新公司</span>
            </div>
            <div class="main_detail">
                <div class="tab_1 show">
                    <div class=" flex-box flex-a">
                        <div class="main_child">
                        <p>
                            <span>公司名称：</span>
                            <select name="code" id="company" class="sel_big">
                                <option value="0">请选择公司</option>
                                {volist name="company" id="vo"}
                                <option value="{$vo.comp_id}">{$vo.name}</option>
                                {/volist}
                            </select>
                        </p>
                        <p>
                            <span>发卡密钥：</span>
                            <input type="button" name="company_key" value="点击获取">
                        </p>
                        <p>
                            <span>面<span style="visibility:hidden">空格</span>值：</span>
                            <select name="card_val" id="" class="sel_big">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                            </select>
                            <!--<span>面<span style="visibility:hidden">空格</span>值：</span>-->
                            <!--<input type="text" class="inp_big">-->
                        </p>
                        <p>
                            <span>数<span style="visibility:hidden">空格</span>量：</span>
                            <input type="text" name="num" class="inp_big">
                        </p>
                        </div>
                        <div class="main_child">
                        <p>
                            <span>卡组适用积分类型：</span>
                            <select name="card_type" id="" class="sel_small">
                                <option value="hf">话费</option>
                                <option value="yk">油卡</option>
                                <!--<option value="2"></option>-->
                            </select>
                        </p>
                        <p>
                            <span><span style="visibility:hidden">四个空格</span>付款类型：</span>
                            <input type="text" name="pay_way" class="inp_small">
                        </p>
                        <p>
                            <span><span style="visibility:hidden">空格</span>实际打款金额：</span>
                            <input type="text" name="new_money" class="inp_small">
                        </p>
                        </div>
                    </div>
                    <div class="flex-box flex-a bottom_sure">
                        <button type="button" id="query">确&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;定</button>
                        <button type="button">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
                    </div>
                </div>
                <div class="tab_2 hide">
                    <div class="layui-form">
                      <table class="layui-table">
                        <colgroup>
                          <col width="200">
                          <col width="220">
                          <col width="100">
                          <col width="100">
                          <col width="100">
                          <col width="250">
                        </colgroup>
                        <thead>
                          <tr>
                            <th>所属公司</th>
                            <th>申请时间</th>
                            <th>申请数量</th>
                            <th>积分卡面值</th>
                            <th>公司付款金额</th>
                            <th>申请状态</th>
                          </tr> 
                        </thead>
                        <tbody>
                            {if condition="count($record) == 0"} 
                                <span style="margin:0 auto;"> -- 暂无数据 -- </span> 
                            {else /}
                            {volist name="record" id="vo"}
                                <tr>
                                    <th style="font-size:12px; height:18px;">{$vo.company_name}</th>
                                    <th style="font-size:12px;height:18px;">{$vo.time}</th>
                                    <th style="font-size:12px;height:18px;">{$vo.number}</th>
                                    <th style="font-size:12px;height:18px;">{$vo.face_value}</th>
                                    <th style="font-size:12px;height:18px;">{$vo.pay_money}</th>
                                    {if condition="$vo['is_pass'] == 1"} 
                                        <th style="font-size:12px;height:18px;"><a style="color:skyblue;font-weight:bold;" href='http://{$vo.download}'>审核成功(点击下载)...</a></th>
                                    {elseif condition="$vo['is_pass'] == 2"}
                                        <th style="font-size:12px;height:18px;">等待审核...</th>
                                    {else /}
                                        <th style="font-size:12px;height:18px;">未通过审核...</th>
                                    {/if}
                                </tr>
                                {/volist}
                            {/if}
                            
                        </tbody>
                      </table>
                    </div>

                       
                </div>
                <div class="tab_3 hide">
                    <p class="flex-box flex-c flex-col-c">
                        <span>新公司名称：</span>
                        <input type="text" class="inp_small" id="new_company_name" placeholder="填写新公司名称">
                        
                    </p>
                    <p class="flex-box flex-c">
                        <button id="add_new_comp"type="button" style="border: none;background: #00AAEF;color: #fff;border-radius: 5px;padding: 8px 30px;margin-top: 20px">添&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加</button>
                    </p>
                </div>
            </div>
        </div>
        <!-- qq客服 -->
        <div class="qq_kefu">
            <img src="__STATIC__/img/qq.png" alt="">
            <span class="close_qq">×</span>
        </div>
    </div>

    
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<script>
    function none(){
        layer.alert("当前无权限！")
    }
    $(function(){
        $('#add_new_comp').click(function(){
            var comp_name = $("#new_company_name").val()
            if("" == comp_name){
                layer.alert("请填写公司名！")
                return
            }
            layer.confirm("确定添加名为<span style='font-size:20px;font-weight:bold;color:red'>"+comp_name+"</span>的公司吗？", {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    url:"{:url('admin/Cardmanage/addCompany')}",
                    type:"post",
                    data:{company_name:comp_name},
                    success:function(res){
                        var ores = JSON.parse(res)
                        if(ores.status == 'success'){
                            layer.close(index);
                            layer.msg(ores.msg);
                        }else{
                            layer.close(index);
                            layer.msg(ores.msg);
                        }
                    }
                })
            },function(index){
                
            });    
        });
        
        $("#query").click(function () {
            var data = {};
            var isok = 1;
            $("input").each(function(){
                 var key = $(this).attr('name');
                 var value = $(this).val();
                 if(null != key) {
                     if ("" == value) {
                         layer.msg("请完整填写信息！！！");
                         isok = 0;
                         return false;
                     }else{
                         data[key] = value;
                     }
                 }
            })
      
            $("select").each(function(){
                var key = $(this).attr('name');
                var value = $(this).val();
                if(null != key) {
                    if ("" == value) {
                        layer.msg("请完整填写信息！！！");
                        isok = 0;
                        return false;
                    }else{
                        data[key] = value;
                    }
                }
            })
            if(!isok){
                return false;
            }
            $.ajax({
                type:'POST',
                url:"{:url('Cardmanage/token')}",
                data:data,
                dataType:'json',
                success:function(res){
//                    console.log(typeof res)
                    var ores = JSON.parse(res);
                    if(ores.status == 'success'){
                        layer.alert(ores.msg);
                    }else{
                        layer.alert(ores.msg);
                    }
                    
                }
            })
        })

        $("input[name='company_key']").click(function(){
            var company = $('#company').val();
            if(company == '0'){
                layer.msg("请选择公司");
                return ;
            }
            $.ajax({
                url:"{:url('admin/cardmanage/getKey')}",
                type:"post",
                data:{comp_id:company},
                success:function(res){
                    var ores = JSON.parse(res);
                    if(ores.status == 'success'){

                        layer.msg(ores.msg);
                        $("input[name='company_key']").prop("type","text").addClass("inp_big").val("").prop("placeholder","请填写接收的卡组生成秘钥").unbind();
                    }else{
                        layer.msg(ores.msg,function(){
                            window.location.reload()
                        });
                        
                    }
                    
                }
            })
            
        });
        
        $(".navbar_con>span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".main_detail>div").eq(index).removeClass("hide").addClass("show").siblings().removeClass("show").addClass("hide");
        });
        
        $(".close_qq").click(function(){
            $(this).parent(".qq_kefu").hide();
        })
    })
</script>
</html>