<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传则内部管控后台</title>

    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">

    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
</head>
<body>
    <!-- 顶部 -->

    <div class="logo">
        <p>
            <a href="">
            <img src="__STATIC__/img/logo.png" alt="">
            </a>
        </p>
    </div>

    <!-- 菜单和主体 -->
    <div class="content">
        <!-- 菜单 -->
        <div class="omenu">
            <ul>
                <li><a href="#">功能选择</a></li>
                <li><a href="#" onclick="none()">卡组管理</a></li>
                <li><a href="#" onclick="none()">财务管理</a></li>
                <li class="jifen_toggle"><a href="#" >客服管理</a>
                    <ul>
                        <li><a href="Customerservice" >积分激活查询</a></li>
                        <li><a href="consume">积分消费查询</a></li>
                        <li><a href="#" class="focus_on">积分卡状态查询</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 主体 -->
        <div class="obody">
            <div class="navbar_con">
                <span class="active">积分卡状态</span>
            </div>
            <div class="main_detail">
                <div class="tab_1 show">
                    <p>
                        积分卡号：<input id="card_no"  type="text" class="inp_big">
                    </p>
                    <p class="bottom_sure" style="margin-top:10px;">
                        <button  type="button" id="search_button" style="margin-right: 15px;"  data-type="reload">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                    </p>
                    <table class="layui-hide" id="cardnumber_res"  lay-filter="cardnumber_res"></table>
                </div>

            </div>
        </div>
        <!-- qq客服 -->
        <div class="qq_kefu">
            <img src="__STATIC__/img/qq.png" alt="">
            <span class="close_qq">×</span>
        </div>
    </div>

    
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script>
        function none(){
        layer.alert("当前无权限！")
    }
    $(function(){
        $(".navbar_con>span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".main_detail>div").eq(index).removeClass("hide").addClass("show").siblings().removeClass("show").addClass("hide");
        });
        
        $(".close_qq").click(function(){
            $(this).parent(".qq_kefu").hide();
        })
    })

layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#cardnumber_res'
    ,url:"{:url('admin/Customerservice/getCardStatus')}"
    ,page: true
    ,method:'post'
    ,cols: [[
      {field:'type', width:100, title: '积分卡类型'}
      ,{field:'company_name', width:200, title: '所属公司'}
      ,{field:'time', width:180, title: '生成时间', sort: true,unresize:false}
      ,{field:'status', title: '当前状态', width: 165}
    ]],
    id:'cardreload'
    
  });
    var $ = layui.$, active = {
    reload: function(){
      var card_no = $('#card_no');
      $.ajax({
        url:"{:url('admin/Customerservice/checkCardNo')}",
            type:"POST",
            data:{card_no:card_no.val()},
            success:function(res){
                res = JSON.parse(res);
                if(res.status == 'success'){
                //执行重载
                    table.reload('cardreload', {
                        where: {card_no: card_no.val()}
                    })
                }else{
                    layer.alert(res.msg,{icon: 5},function(index){
                        card_no.val("")
                        layer.close(index)
                    })
                }
            }
      })
      
      
    }
    }
    $('#search_button').on('click',function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    })
            //监听行双击事件
    table.on('rowDouble(cardnumber_res)', function(obj){
       
        if(obj.data.is_used){
            $.ajax({
            url:"{:url('admin/Customerservice/getCardStatusDetail')}",
            type:"post",
            data:{card_no:$('#card_no').val()},
            success:function(res){
                ores = JSON.parse(res);
                layer.alert(ores.msg);

            }
        })
        }else{
            layer.alert("卡未使用，暂无详情。",{icon: 5},function(index){
                        layer.close(index)
            })
        }

    });
})

$(".jifen_toggle").click(function(){
    $(this).find("ul").slideToggle("fast");
})
</script>
</html>