<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传则内部管控后台</title>

    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">

    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
</head>
<body>
    <!-- 顶部 -->

    <div class="logo">
        <p>
            <a href="">
            <img src="__STATIC__/img/logo.png" alt="">
            </a>
        </p>
    </div>

    <!-- 菜单和主体 -->
    <div class="content">
        <!-- 菜单 -->
        <div class="omenu">
            <ul>
                <li><a href="#">功能选择</a></li>
                <li><a href="cardmanage" onclick="">卡组管理</a></li>
                <li><a href="Financial" onclick="">财务管理</a></li>
                <li class="jifen_toggle"><a href="#" >客服管理</a>
                    <ul>
                        <li><a href="#"  class="focus_on ">积分激活查询</a></li>
                        <li><a href="consume">积分消费查询</a></li>
                        <li><a href="cardstatus">积分卡状态查询</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- 主体 -->
        <div class="obody">
            <div class="navbar_con">
                <span class="active">积分消费情况</span>
            </div>
            <div class="main_detail">
                <div class="tab_1 show">
                    <p>
                        用户手机号：<input id='phone_num' type="text" class="inp_big">
                    </p>
                    <p class="bottom_sure" style="margin-top:10px;">
                        <button  type="button" id="search_button" style="margin-right: 15px;"  data-type="reload">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                    </p>
                    <table class="layui-hide" id="result" lay-filter="result"></table>
                </div>

            </div>
        </div>
        <!-- qq客服 -->
        <div class="qq_kefu">
            <img src="__STATIC__/img/qq.png" alt="">
            <span class="close_qq">×</span>
        </div>
    </div>

    
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script>
        function none(){
        layer.alert("当前无权限！")
    }
    $(function(){
        $("input[name='miyao']").click(function(){
            $(this).prop("type","text").addClass("inp_big").val("").prop("placeholder","请填写接收的短信密钥");
        });
        
        $(".navbar_con>span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".main_detail>div").eq(index).removeClass("hide").addClass("show").siblings().removeClass("show").addClass("hide");
        });
        
        $(".close_qq").click(function(){
            $(this).parent(".qq_kefu").hide();
        })
    })

layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#result'
    ,url:"{:url('admin/Customerservice/searchConsume')}"
    ,page: true
    ,method:'post'
    ,cols: [[
    {field:'order_id', width:150, title: '订单编号'}
      ,{field:'order_time', width:165, title: '消费时间'}
      ,{field:'order_type', width:100, title: '消费类型'}
      ,{field:'money', width:120, title: '消费积分额'}
      ,{field:'status', width:120, title: '订单当前状态', sort: true,unresize:false}
      
    ]],
    id:'cardreload'
  });
  var $ = layui.$, active = {
    reload: function(){
      var phone_num = $('#phone_num');
      
      //执行重载
      table.reload('cardreload', {
        where: {
            phone: phone_num.val()
            
        }
      });
    }
    }
    $('#search_button').on('click',function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    })
        //监听行双击事件
    table.on('rowDouble(result)', function(obj){
        console.log(obj.data.order_id)
        $.ajax({
            url:"{:url('admin/Customerservice/getOrderDetail')}",
            type:"post",
            data:{order_id:obj.data.order_id},
            success:function(res){
                ores = JSON.parse(res);
                layer.alert(ores.msg);

            }
        })
    });
})

$(".jifen_toggle").click(function(){
    $(this).find("ul").slideToggle("fast");
})
</script>
</html>