<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传则内部管控后台</title>

    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/ssbase.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">

    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
</head>
<body>
    <!-- 顶部 -->

    <div class="logo">
        <p>
            <a href="">
            <img src="__STATIC__/img/logo.png" alt="">
            </a>
        </p>
    </div>

    <!-- 菜单和主体 -->
    <div class="content">
        <!-- 菜单 -->
        <div class="omenu">
            <ul>
                <li><a href="#">功能选择</a></li>
                <li><a href="cardmanage" onclick="">卡组管理</a></li>
                <li><a href="#" class="focus_on">财务管理</a></li>
                <li><a href="customerservice" onclick="">客服管理</a></li>
            </ul>
        </div>
        <!-- 主体 -->
        <div class="obody">
            <div class="navbar_con">
                <span class="active">卡组生成审核</span>
                <span>卡组使用情况查询</span>
            </div>
            <div class="main_detail" style="padding:30px 5px">
                <div class="tab_1 show">
                    <table class="layui-hide" id="taBle" lay-filter="test"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn  layui-btn-xs" lay-event="pass">允许</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="notpass">驳回</a>
                    </script>
                </div>
                <div class="tab_2 hide" id="reloadTable">
                    <p>
                        时间区间：<input readonly type="text" class='inp_big' id="time_range">
                        <span class="bottom_sure">
                        <button  type="button" id="range_button" style="margin-right: 15px;"  data-type="reload">查&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                        </span>
                    </p>
                    
                    <!-- <div  class="flex-box flex-a bottom_sure" style='margin-top: 10px'> -->
                        

                        <!-- <button type="button">下&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;载</button> -->
                    <!-- </div> -->
                    <div class="datas" >
                        <table class="layui-hide" id="detail" lay-filter="user" style="width:100%"></table></div>
                </div>
            </div>
        </div>
        <!-- qq客服 -->
        <div class="qq_kefu">
            <img src="__STATIC__/img/qq.png" alt="">
            <span class="close_qq">×</span>
        </div>
    </div>

    
</body>
<script src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    function none(){
        layer.alert("当前无权限！")
    }
    $(function(){
        $("input[name='miyao']").click(function(){
            $(this).prop("type","text").addClass("inp_big").val("").prop("placeholder","请填写接收的短信密钥");
        });
        
        $(".navbar_con>span").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            var index = $(this).index();
            $(".main_detail>div").eq(index).removeClass("hide").addClass("show").siblings().removeClass("show").addClass("hide");
        });
        
        $(".close_qq").click(function(){
            $(this).parent(".qq_kefu").hide();
        })
    })


layui.use('table', function(){
  var table = layui.table;
  table.render({
    elem: '#detail'
    ,url:"{:url('admin/Financial/cardUsedCount')}"
    ,page:false
    ,method:'post'
    ,cols: [[
      {field:'company_name', minWidth:105, title: '公司名称'}
      ,{field:'used', minWidth:60, title: '已用卡数量'}
      ,{field:'not_used', minWidth:60, title: '未用卡数量'}
      ,{field:'card_count', title: '积分卡总数', minWidth: 60}
      ,{field:'used_money', minWidth:60, title: '已使用积分'}
      ,{field:'not_used_money', minWidth:60, title: '未使用积分'}
    ]]
    ,id: 'countreload'
  })
  var $ = layui.$, active = {
    reload: function(){
      var demoReload = $('#time_range');
      
      //执行重载
      table.reload('countreload', {
        where: {
            date: demoReload.val()
        }
      });
    }
    }
  $('#range_button').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
  table.render({
    elem: '#taBle'
    ,url:"{:url('admin/Financial/tableData')}"
    // ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
    //   layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
    //   //,curr: 5 //设定初始在第 5 页
    //   ,groups: 1 //只显示 1 个连续页码
    //   ,first: false //不显示首页
    //   ,last: false //不显示尾页
      
    // }
    ,page:true
    ,method:'post'
    ,cols: [[
      {field:'id', hide:true,width:1, title: ''}
      ,{field:'apply_man', width:80, title: '申请人'}
      ,{field:'pay_way', minWidth:100, title: '付款方式'}
      ,{field:'company_name', minWidth:80, title: '公司名', sort: true,unresize:false}
      ,{field:'pay_money', minWidth:60, title: '打款金额'}
      ,{field:'time', title: '申请时间', minWidth: 120}
      ,{fixed: 'right', width: 130, title:'操作',align:'center', toolbar: '#barDemo'}
    ]]

    ,done:function(res){
        if(res.count == 0){
            layer.alert("当前没有卡组生成请求。");
        }else{
            layer.alert("共有<span style='font-size:20px;font-weight:bold;color:red'>"+res.count+"</span>条待审核卡组生成申请。");
        }
        
        }
    
    
  });
   

table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
    var data = obj.data; //获得当前行数据
    var layEvent = obj.event; 
    var tr = obj.tr; 
    if(layEvent === 'pass'){ //允许
        layer.confirm("已确认<span style='font-size:20px;font-weight:bold;color:red'>"+data.company_name+"</span>的<span style='font-size:20px;font-weight:bold;color:red'>"+data.pay_money+"</span>元已到账，允许生成卡组。", {icon: 3, title:'提示'}, 
            function(index){
                $.ajax({
                    url:"{:url('admin/Financial/pass_card_apply')}",
                    type:"post",
                    data:{apply_id:data.id},
                    success:function(res){
                        var ores = JSON.parse(res)
                        if(ores.status == 'success'){
                            layer.close(index);
                            layer.msg(ores.msg,{},function(){
                                tr.remove();
                            });
                        }else{
                            layer.close(index);
                            layer.msg(ores.msg);
                        }

                    }
                })
               
            },function(index){
                layer.close(index);
            });
    } else if(layEvent === 'notpass'){ //驳回
        /*obj.update({
        username: '123'
        ,title: 'xxx'
        });*/
         layer.confirm("确认驳回<span style='font-size:20px;font-weight:bold;color:red'>"+data.apply_man+"</span>的<span style='font-size:20px;font-weight:bold;color:red'>"+data.company_name+"</span>的卡组生成申请吗。", {icon: 3, title:'提示'}, 
            function(index){
                $.ajax({
                    url:"{:url('admin/Financial/not_pass_card_apply')}",
                    type:"post",
                    data:{apply_id:data.id},
                    success:function(res){
                        var ores = JSON.parse(res)
                        if(ores.status == 'success'){
                            layer.close(index);
                            layer.msg(ores.msg,{},function(){
                                tr.remove();
                            });
                        }else{
                            layer.close(index);
                            layer.msg(ores.msg);
                        }

                    }
                })
            },
            function(){
                layer.close(index);
            })
        }
    })
layui.use('laydate', function(){
  var laydate = layui.laydate;
var date = new Date();
var time = date.toLocaleDateString();
 time = time.replace("-","/");
   //日期范围
laydate.render({
    elem: '#time_range'
    ,range: true
    ,theme:"#00AAEF"
    ,max: time  
  });
});
});

</script>
</html>